@import "tailwindcss";


:root {
  --primary: #0a35c8;
  --secondary: #9e33cf;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: var(--primary);
  --color-secondary: var(--secondary);
  --font-poppins: var(--font-poppins);
  --font-sans: var(--font-poppins);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

* {
  font-family: var(--font-poppins), sans-serif;
}

body {
  font-family: var(--font-poppins), Arial, Helvetica, sans-serif;
}

@layer utilities {
  @keyframes float {

    0%,
    100% {
      transform: translateY(0);
    }

    50% {
      transform: translateY(-10px);
    }
  }

  .animate-float {
    animation: float 3s ease-in-out infinite;
  }

  @keyframes infinite-bounce {

    0%,
    100% {
      transform: translateY(0);
    }

    50% {
      transform: translateY(-12px);
    }
  }

  .animate-infinite-bounce {
    animation: infinite-bounce 1.2s ease-in-out infinite;
  }
}

.hide-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.hide-scrollbar::-webkit-scrollbar {
  display: none;
}

.swiper {
  padding-bottom: 40px;
}

.swiper-pagination {
  position: relative !important;
  margin-top: 16px;
  text-align: center;
  z-index: 10;
}


.custom-pagination .swiper-pagination-bullet {
  background-color: #a855f7 !important;
  opacity: 0.4;
}

.custom-pagination .swiper-pagination-bullet-active {
  background-color: #7e22ce !important;
  opacity: 1;
}

.public-content p {
  color: black;
}
